.App {
  text-align: center;
}

body{
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  filter:  invert(83%) sepia(43%) saturate(444%) hue-rotate(355deg) brightness(102%) contrast(91%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'Futura';
  /* background-color: #540f6f; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f3db7d;
  text-align: center;
}


.loading-message {
  color: #eed15b;
  font-size: 100xpx;
  margin-top: 10px; /* Add margin to separate from the text box */
}

.backgroundDJ {
  background-image: "./dj-background.jpg";
  background-size: "cover";
  /* height: 100vh; */
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

.Clickable-text {
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding to make it look like a button */
  background-color: #3c0047; /* Button background color */
  color: #6f42c1; /* Darker purple font color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  font-size: 16px; /* Adjust font size */
  text-decoration: none;

}.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}





textarea[type="text"],
textarea[id="moodinput"] {
  cursor: text;
  padding: 10px;
  background-color: transparent; /* Make the background color transparent */
  border: 1px solid #ccc; /* Add a border for clarity */
  color: #eed15b; 
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px; 
  height: 150px;
  width: 300px;
  vertical-align: top;
  overflow-y: auto;
  resize: None;
}

.Clickable-text:hover {
  background-color: #1f0136; /* Change background color on hover */
  color: #f3db7d;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
