.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  filter:  invert(83%) sepia(43%) saturate(444%) hue-rotate(355deg) brightness(102%) contrast(91%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'Futura';
  /* background-color: #540f6f; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f3db7d;
}

.backgroundDJ {
  background-image: "./dj-background.jpg";
  background-size: "cover";
  /* height: 100vh; */
  background-repeat: no-repeat;
}

.Clickable-text {
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding to make it look like a button */
  background-color: #3c0047; /* Button background color */
  color: #6f42c1; /* Darker purple font color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  font-size: 16px; /* Adjust font size */
}

.Clickable-text:hover {
  background-color: #1f0136; /* Change background color on hover */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
